---
const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-3">
    <div class="container justify-items-center text-center">
      <p>
        &copy; {currentYear} - emergency tips at ship. Made with ❤️ by <a
          href="https://www.youtube.com/channel/UC2fUJqfHYf4K7bwYuoILpbA" target="_blank">nozami</a
        >.
      </p>
    </div>
  </section>
</footer>
